1.top 10 ปี 2006 เขตไหนเกิดอาชญากรรมมากที่สุด

In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('Violent_Crimes_by_County__2006_to_2013.csv',index_col ='County')
df.iloc[:,:1].sort_values('2006_Total_Violent_Crimes',ascending = False).head(10)

                  2006_Total_Violent_Crimes
County
STATEWIDE                             38111
BALTIMORE CITY                        10871
PRINCE GEORGE'S                        8481
BALTIMORE COUNTY                       5713
ANNE ARUNDEL                           3167
MONTGOMERY                             2304
WICOMICO                                931
HARFORD                                 826
FREDERICK                               752
CHARLES                                 729

2. top 10 ปี 2007 เขตไหนเกิดอาชญากรรมน้อยที่สุด

In [3]:
df = pd.read_csv('Violent_Crimes_by_County__2006_to_2013.csv',index_col ='County')
df.iloc[:,[1]].sort_values('2007_Total_Violent_Crimes').head(10)

              2007_Total_Violent_Crimes
County
GARRETT                              64
KENT                                 80
TALBOT                              112
SOMERSET                            122
CAROLINE                            123
QUEEN ANNE'S                        142
DORCHESTER                          160
ALLEGANY                            262
CALVERT                             279
WORCESTER                           290

3.เขตอาชญากรรมที่ขึ้นต้นด้วยตัว C มีชื่ออะไรบ้าง

In [4]:
df = pd.read_csv('Violent_Crimes_by_County__2006_to_2013.csv')
df[df.County.str.startswith('C')]

,County,2006_Total_Violent_Crimes,2007_Total_Violent_Crimes,2008_Total_Violent_Crimes,2009_Total_Violent_Crimes,2010_Total_Violent_Crimes,2011_Total_Violent_Crimes,2012_Total_Violent_Crimes,2013_Total_Violent_Crimes,Change: 2006 to 2013
3,CALVERT,257,279,367,271,194,142,115,107,-58%
4,CAROLINE,149,123,123,126,128,112,115,94,-37%
5,CARROLL,374,359,360,393,349,256,306,342,-9%
6,CECIL,490,568,540,746,673,579,549,436,-11%
7,CHARLES,729,846,794,701,713,588,575,588,-19%

4.ในแต่ละปี WASHINGTON เกิดอาชญากรรมเท่าไรบ้าง

In [5]:
df = pd.read_csv('Violent_Crimes_by_County__2006_to_2013.csv')
df[df.County.str.startswith('WASHINGTON')]

,County,2006_Total_Violent_Crimes,2007_Total_Violent_Crimes,2008_Total_Violent_Crimes,2009_Total_Violent_Crimes,2010_Total_Violent_Crimes,2011_Total_Violent_Crimes,2012_Total_Violent_Crimes,2013_Total_Violent_Crimes,Change: 2006 to 2013
21,WASHINGTON,568,506,442,395,446,450,387,388,-32%

5.มีจำนวนกี่เขตที่ได้ทำการสำรวจ

In [6]:
df = pd.read_csv('Violent_Crimes_by_County__2006_to_2013.csv',index_col ='County')
df.count()

2006_Total_Violent_Crimes    25
2007_Total_Violent_Crimes    25
2008_Total_Violent_Crimes    25
2009_Total_Violent_Crimes    25
2010_Total_Violent_Crimes    25
2011_Total_Violent_Crimes    25
2012_Total_Violent_Crimes    25
2013_Total_Violent_Crimes    25
Change: 2006 to 2013         25
dtype: int64

6.จัดระดับความรุนแรงของแต่ละเขตในปี 2008

In [7]:
import numpy as np

In [8]:
df = pd.read_csv('Violent_Crimes_by_County__2006_to_2013.csv',index_col='County')
conditions = [
    (df['2008_Total_Violent_Crimes'] < 1000) & (df['2008_Total_Violent_Crimes'] > 300) ,
    (df['2008_Total_Violent_Crimes'] < 300) ,
    (df['2008_Total_Violent_Crimes'] >1000)]
choices = ['Medium', 'Low', 'High']

In [9]:
df['Level'] = np.select(conditions, choices )
df[['2008_Total_Violent_Crimes', 'Level']]

                  2008_Total_Violent_Crimes   Level
County
ANNE ARUNDEL                           2931    High
BALTIMORE CITY                        10132    High
BALTIMORE COUNTY                       4931    High
CALVERT                                 367  Medium
CAROLINE                                123     Low
CARROLL                                 360  Medium
CECIL                                   540  Medium
CHARLES                                 794  Medium
DORCHESTER                              187     Low
FREDERICK                               793  Medium
GARRETT                                  71     Low
HARFORD                                 879  Medium
ALLEGANY                                240     Low
HOWARD                                  705  Medium
KENT                                    113     Low
MONTGOMERY                             2231    High
PRINCE GEORGE'S                        7400    High
QUEEN ANNE'S                            161     Low
SOMERSET                                 94     Low
ST. MARY'S                              304  Medium
TALBOT                                  158     Low
WASHINGTON                              442  Medium
WICOMICO                               1010    High
WORCESTER                               234     Low
STATEWIDE                             35394    High

7.top 10 ปี 2010 เขตไหนเกิดอาชญากรรมมากที่สุด ไม่รวม Statewild

In [10]:
df = pd.read_csv('Violent_Crimes_by_County__2006_to_2013.csv',index_col ='County')
df.iloc[:,[4]].sort_values('2010_Total_Violent_Crimes',ascending = False).head(11).drop(['STATEWIDE'])

                  2010_Total_Violent_Crimes
County
BALTIMORE CITY                         9352
PRINCE GEORGE'S                        6202
BALTIMORE COUNTY                       4349
ANNE ARUNDEL                           2929
MONTGOMERY                             1797
HARFORD                                 853
WICOMICO                                730
FREDERICK                               728
CHARLES                                 713
CECIL                                   673

8.ในปี 2011 เขตไหนเกิดอาชญากรรมมากที่สุด ไม่รวม Statewild

In [11]:
df = pd.read_csv('Violent_Crimes_by_County__2006_to_2013.csv',index_col ='County')
df.iloc[:,[5]].sort_values('2011_Total_Violent_Crimes',ascending = False).head(2).drop(['STATEWIDE'])

                2011_Total_Violent_Crimes
County
BALTIMORE CITY                       8928

9.ในปี 2012 มีเขตไหนบ้างที่จำนวนการเกิดอาชญากรรมน้อยกว่า 1000

In [14]:
df = pd.read_csv('Violent_Crimes_by_County__2006_to_2013.csv',index_col ='County')
df.iloc[:,[6]][(df['2012_Total_Violent_Crimes'] < 1000)]

              2012_Total_Violent_Crimes
County
CALVERT                             115
CAROLINE                            115
CARROLL                             306
CECIL                               549
CHARLES                             575
DORCHESTER                          165
FREDERICK                           620
GARRETT                              71
HARFORD                             697
ALLEGANY                            268
HOWARD                              580
KENT                                 85
QUEEN ANNE'S                         93
SOMERSET                             75
ST. MARY'S                          257
TALBOT                               89
WASHINGTON                          387
WICOMICO                            554
WORCESTER                           186

10.ในปี 2013 มีเขตไหนบ้างที่ไม่ได้ทำการสำรวจ

In [15]:
df = pd.read_csv('Violent_Crimes_by_County__2006_to_2013.csv',index_col ='County')
df.iloc[:,[7]].notnull()

                  2013_Total_Violent_Crimes
County
ANNE ARUNDEL                           True
BALTIMORE CITY                         True
BALTIMORE COUNTY                       True
CALVERT                                True
CAROLINE                               True
CARROLL                                True
CECIL                                  True
CHARLES                                True
DORCHESTER                             True
FREDERICK                              True
GARRETT                                True
HARFORD                                True
ALLEGANY                               True
HOWARD                                 True
KENT                                   True
MONTGOMERY                             True
PRINCE GEORGE'S                        True
QUEEN ANNE'S                           True
SOMERSET                               True
ST. MARY'S                             True
TALBOT                                 True
WASHINGTON                             True
WICOMICO                               True
WORCESTER                              True
STATEWIDE                              True